@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8F9FA;
  color: #333333;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.no-scroll {
  overflow: hidden;
}
